<div class="main">
    <p class="sign" align="center"></p>
    <form class="form1" id="signup-form">
        <input class="un " id="email-signup" type="text" align="center" placeholder="email">
        <input class="pass" id="password-signup" type="password" align="center" placeholder="Password">
        <input class="un " id="name-signup" type="text" align="center" placeholder="name">
        <input type="submit" class="submit" align="center">Sign up</input>




</div>

<script src="/js/sign-up.js"></script>