{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="ml-5" name="comment-body"></textarea>
    </div>
    {{blogData}}
    <div>
        <button class="button is-warning ml-5 mb-5" type="submit">add comment</button>
    </div>

</form>
{{/if}}



{{#if loggedIn}}
<script src="/js/add-post.js"></script>
{{/if}}